---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import type { CollectionEntry } from "astro:content";
import NoteSummaryCard from "@components/NoteSummaryCard.astro";
import WaveSeparator from "@components/WaveSeparator.astro";

const posts = await getCollection("garden");
const sortedPosts = getSortedPosts(posts) as CollectionEntry<"garden">[];

const streamPosts = await getCollection("stream");
const sortedStreamPosts = getSortedPosts(
  streamPosts
) as CollectionEntry<"stream">[];

const socialCount = SOCIALS.filter(social => social.active).length;

// Dummy curated links
const curatedLinks = [
  { title: "My Favorite Development Tools", slug: "favorite-dev-tools" },
  { title: "Getting Started with Astro", slug: "astro-intro" },
  { title: "Why I Love Digital Gardening", slug: "digital-gardening-love" },
  { title: "The Art of Code Refactoring", slug: "code-refactoring-art" },
  {
    title: "Building a Personal Brand as a Developer",
    slug: "dev-personal-brand",
  },
];
---

<Layout>
  <Fragment slot="header">
    <Header />

    <section id="hero" class="mb-16 pt-44 z-50 relative">
      <div
        class="flex flex-col-reverse md:flex-row items-start gap-8 justify-between"
      >
        <div class="md:w-3/5 mt-8 md:mt-0 flex flex-col gap-8">
          <h1
            class="text-4xl flex flex-col md:text-5xl lg:text-6xl font-bold mb-4 relative text-balance"
          >
            <span
              class="absolute -left-4 -top-10 text-6xl opacity-10 sm:text-7xl sm:-top-12 md:-top-16 md:text-8xl lg:-top-24 lg:text-9xl"
              >Hello.</span
            >
            I'm MJ Meyer <span class="text-2xl opacity-80 uppercase">
              AKA the Dadalorian
            </span>
          </h1>
          <p class="text-lg">
            In a galaxy plagued by bad software, bugs, atrocious UX, and legacy
            UI, I've dedicated the last 14 years to crafting stellar digital
            experiences using HTML, CSS, and a variety of JS/TS frameworks &
            libraries, including Angular, Next, Remix, Astro, and Node.js.
          </p>
          <p class="text-lg">
            As a Star Wars-loving, Xbox-jamming, BBQ (braai) aficionado, my
            mission goes beyond vanquishing the digital dark side. I'm all about
            having fun, being a devoted husband to my incredible wife, and
            guiding my two foundlings in "the way" as we navigate our new home
            (SA🇿🇦 ➞ NZ🇳🇿).
          </p>
          <p class="text-lg">
            This is where I cultivate my <LinkButton
              href="/garden"
              className="text-skin-accent underline underline-offset-4 decoration-dashed"
              >digital garden</LinkButton
            >. You can learn more <LinkButton
              href="/about"
              className="text-skin-accent underline underline-offset-4 decoration-dashed"
              >about</LinkButton
            > me, see what tools I <LinkButton
              href="/uses"
              className="text-skin-accent underline underline-offset-4 decoration-dashed"
              >use</LinkButton
            >, or follow what I'm up to <LinkButton
              href="/now"
              className="text-skin-accent underline underline-offset-4 decoration-dashed"
              >now</LinkButton
            >.
          </p>
        </div>
        <div class="md:w-2/5 -mt-16 -mr-8 flex flex-col gap-8 items-center">
          <img
            class="block dark:hidden"
            src="./profile-light.png"
            alt="MJ Meyer Profile Image"
          />
          <img
            class="dark:block hidden"
            src="./profile-dark.png"
            alt="MJ Meyer Profile Image"
          />
          <div class="text-left flex justify-start flex-col items-center gap-4">
            <span
              class="text-sm opacity-60 font-montserrat font-semibold uppercase text-skin-heading"
              >Connect with me:</span
            >
            {socialCount > 0 && <Socials centered />}
          </div>
        </div>
      </div>
    </section>
  </Fragment>
  <main
    class="px-4 pb-12 sm:px-8 md:px-16 lg:px-32 bg-gradient-to-b to-skin-highlight/20 from-skin-fill"
  >
    <section id="content" class="flex gap-16 w-full flex-col pt-16 sm:flex-row">
      <div
        id="curated-links"
        class="flex flex-col mb-16 w-3/5 gap-6 sm-max:w-full"
      >
        <h2 class="text-4xl font-semibold relative">
          <span class="absolute -left-4 -top-10 opacity-10 text-6xl"
            >Curated</span
          >Favorite Notes
        </h2>
        <p>
          These are some of my favorite notes and things I like to ponder about.
          Not because they're fully grown, but I find them interesting to think
          about and the rest of the digital garden will be crafted around these
          notes.
        </p>
        <ul class="space-y-4 pt-4 pl-6">
          {
            curatedLinks.map(link => (
              <li>
                <a
                  href={`/garden/${link.slug}`}
                  class="text-skin-accent hover:underline"
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="recent w-2/5 text-base">
        <div id="recent-garden" class="mb-16 flex flex-col gap-6">
          <h2 class="text-2xl font-semibold relative">
            <span class="absolute -left-4 -top-10 opacity-10 text-6xl"
              >Recent</span
            >Digital Garden
          </h2>
          <p>
            Occasionally I add, replant or give my notes some digital sprinkles
            to help them grow.
          </p>
          <ul class="pl-2 space-y-6 pt-2">
            {
              sortedPosts
                .slice(0, 3)
                .map(({ data, slug, collection }) => (
                  <NoteSummaryCard
                    href={slug}
                    frontmatter={data as CollectionEntry<"garden">["data"]}
                    cardType={collection as "garden"}
                  />
                ))
            }
          </ul>
          <LinkButton
            className="flex border-spacing-x-28 rounded-r-2xl border-b border-skin-accent/40 items-center text-sm font-normal justify-end"
            href="/garden"
          >
            <span class="bg-skin-accent/20 py-1 px-2 rounded-r-2xl"
              >All Garden Notes
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 ml-1 fill-skin-base group-hover:fill-skin-accent"
              >
                <path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path>
              </svg>
            </span>
          </LinkButton>
        </div>
        <div id="stream" class="mb-16 gap-4 flex flex-col text-base">
          <h2 class="text-2xl font-semibold relative">
            <span class="absolute -left-4 -top-10 opacity-10 text-6xl"
              >Recent</span
            >Resource Stream
          </h2>
          <p>
            Content I've collected from around the interwebs that aligns with my
            interests and supports my learning journey, making it easier to
            revisit and share with others.
          </p>
          <ul class="pl-2 space-y-6 pt-2">
            {
              sortedStreamPosts
                .slice(0, 3)
                .map(({ data, slug, collection }) => (
                  <NoteSummaryCard
                    href={slug}
                    frontmatter={data as CollectionEntry<"stream">["data"]}
                    cardType={collection}
                  />
                ))
            }
          </ul>

          <LinkButton
            className="flex rounded-r-2xl border-b border-skin-accent/40 items-center text-sm font-normal justify-end"
            href="/stream"
          >
            <span class="bg-skin-accent/20 py-1 px-2 rounded-r-2xl"
              >All Stream Notes
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 ml-1 fill-skin-base group-hover:fill-skin-accent"
              >
                <path
                  d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                ></path>
              </svg>
            </span>
          </LinkButton>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
