---
import { SITE } from "@config";
import Notes from "@layouts/Notes.astro";
import getSortedPosts from "@utils/getSortedPosts";
import getPageNumbers from "@utils/getPageNumbers";

import { getCollection, type CollectionEntry } from "astro:content";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import NoteSummaryCard from "@components/NoteSummaryCard.astro";

const posts = await getCollection("stream");

const sortedPosts = getSortedPosts(posts);

const totalPages = getPageNumbers(sortedPosts.length);

const paginatedPosts = sortedPosts.slice(0, SITE.postPerPage);

const streamTypes = [...new Set(posts.map(post => post.data.streamType))];
---

<Notes
  posts={paginatedPosts}
  pageNum={1}
  totalPages={totalPages.length}
  collectionType="stream"
>
  <Main
    pageTitle="Digital Stream of Resources"
    pageDesc="Content I've collected from around the interwebs that aligns with my interests and supports my learning journey, making it easier to revisit and share with others."
  >
    <div
      class="flex justify-center font-medium font-montserrat uppercase text-sm space-x-2 my-16"
    >
      <a
        href="/stream"
        class={`px-6 flex border items-center h-8 font-montserrat uppercase rounded-3xl bg-skin-card border-skin-fill/30 text-skin-inverted`}
        >All</a
      >
      {
        streamTypes.map(type => (
          <a
            href={`/stream/${type}`}
            class={`px-4 h-8 flex border items-center rounded-3xl bg-skin-card/15 border-skin-accent/15 hover:bg-skin-card/50 hover:border-skin-accent/60`}
          >
            {type}
          </a>
        ))
      }
    </div>

    <ul class="flex flex-col gap-24">
      {
        paginatedPosts.map(({ data, slug }) => (
          <NoteSummaryCard
            href={slug}
            frontmatter={data as CollectionEntry<"stream">["data"]}
            cardType={"stream"}
            expanded
          />
        ))
      }
    </ul>
  </Main>
</Notes>
