---
import { SITE } from "@config";
import Notes from "@layouts/Notes.astro";
import getSortedPosts from "@utils/getSortedPosts";
import getPageNumbers from "@utils/getPageNumbers";

import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import LinkButton from "@components/LinkButton.astro";

const posts = await getCollection("stream");

const sortedPosts = getSortedPosts(posts);

const totalPages = getPageNumbers(sortedPosts.length);

const paginatedPosts = sortedPosts.slice(0, SITE.postPerPage);

const noteStates = [...new Set(posts.map(post => post.data.streamType))];
---

<Notes
  posts={paginatedPosts}
  pageNum={1}
  totalPages={totalPages.length}
  collectionType="stream"
  allFilters={noteStates}
>
  <Header activeNav="stream" />
  <Main
    pageTitle="Digital Stream of Resources"
    pageDesc="Content I've collected from around the interwebs that aligns with my interests and supports my learning journey, making it easier to revisit and share with others."
  >
    <ul>
      {
        noteStates.map(filter => (
          <li>
            <LinkButton href={`/stream/${filter}`} className="select-none">
              {filter}
            </LinkButton>
          </li>
        ))
      }
    </ul>

    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
</Notes>
