---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { fade } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description = SITE.desc, ogImage = SITE.ogImage } = Astro.props;

const pageTitle = title ? `${title} | ${SITE.title}` : SITE.title;
---

<Layout
  title={pageTitle}
  description={description}
  ogImage={ogImage}
  hasWaveSeparator={false}
>
  <Fragment slot="header">
    <slot name="header" />
  </Fragment>

  <main id="main-content" transition:animate={fade({ duration: "0.3s" })}>
    <slot name="pageTitle" />

    <hr class="border-b border-skin-accent/20 my-12 max-sm:my-8" />
    <slot />
  </main>

  <slot name="pagination" />
  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 py-28 h-full flex-1 max-lg:px-16 max-sm:px-8 max-sm:py-16;
  }
  #main-content p {
    @apply mt-2 mb-6 italic text-4xl font-light;
  }

  .pagination-wrapper {
    @apply mb-8 mt-auto flex gap-8 justify-center;
  }
</style>
